server:
  port: 8080

spring:
  profiles:
    active: dev

logging:
  level:
    root: INFO
    com.eurail.zoo_app.controller: DEBUG
    com.eurail.zoo_app.service: DEBUG
    com.eurail.zoo_app.mapper: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
